html {
  width: 180px;
  padding-left: 10px;
}

#host-para {
  margin-bottom: 0px;
}

#qrcode {
  margin-right: 10px;
}

#qrcode img {
  width: 120px;
  height: 120px;
}

#copy-url {
  margin-bottom: 10px;
}

#disconnect {
  width: 75px;
  margin-right: 10px;
}

#gotoTab {
  width: 75px;
  margin-left: 7px;
}

#password {
  width: 115px;
}

#close-error {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.full-width {
  width: 170px !important;
}
